main {
    display: flex;
    gap: 20px;
    min-height: calc(100vh - 30px);
    max-width: 1400px;
    margin: 0 auto;
}


#getMethod{
    flex: 1;
   color: black;
    border-style: solid;
    border-width: 5px;
      background-image: url("./img/fireworks4.jpg");
   
}

#postMethod{
    flex: 1;
    background-color: blueviolet;
    color: white;
    background-image: url("./img/fast4.jpg");
  border-style: dotted;
  border-width: 5px;
}

/* expand the background color to the full width of the screen */